
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto" , sans-serif;
    
}
li{
    
    list-style: none;
    margin: 5px;
}
    ul{
        padding: 2px;
    }

.menu-bar{
    height: 30px;
    background-color:aliceblue;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 0.5rem;
   
}

.title{
    
    height: 50%;
    font-size: 0.5rem;
   
    display: flex;
    align-items: center;
    margin-top: 3px;
   
    
}
.logo{
    height: 22px;
    margin-left: 0.5rem;

    
}
.video{
    height: 100%;
}
.menu{
    
   
    position: relative;
}
.footer{
    height: 70px;
    background-color: aliceblue;

}
.main{
    height: calc(100vh - 100px);
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-items{
    background-color: aliceblue;
    position: absolute;
    top: 20px;
    width: 9rem;
   cursor: pointer;
   display: none;
   }
   .menu:hover .menu-items{
    display: block;
    
   }
   .menu-btn:hover{
    border: 2px solid rgb(150, 197, 212);
    background-color: lightblue;
    border-radius: 3px;
    
   }
   li:hover{
    background-color: lightgray;
    padding: 3px;

   }
   .video-input{
    display: none;
   }
